  <div class="transferSubCont">
    <div class="depositSubSubCont">
      Hello, let's transfer some money from your account.
    </div>
    <div class="depositSubSubCont">
      Transfer destination account ID:
      <input
        class="rightMargin20px width100px leftMargin10px"
        type="text"
        placeholder="Account ID"
        [(ngModel)]="accountId"
      />
    </div>
    <div class="depositSubSubCont">
      Amount to be transfered:
      <input
        class="rightMargin20px width100px leftMargin10px"
        type="text"
        placeholder="Amount"
        maxLength="6"
        [(ngModel)]="amount"
      />
      <button
        type="button"
        class="button"
        (click)="handleTransfer()"
      >
        Transfer
      </button>
    </div>
  </div>
