body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

input {
  height: 30px;
}

.mainCont {
  width: 900px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appCont {
  width: 900px;
  height: 460px;
  /*background-color: lightblue;*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(lightblue, #ebf6f9);
}

.menuCont {
  width: 900px;
  height: 70px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

.balance, .requestDetail {
  border: 2px solid gray;
  height: 32px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.requestDetail {
  display: inline-flex;
  background-color: #efefef;
}

.depositCont, .transactionsCont {
  width: 900px;
  height: 390px;
  /*background-color: lightblue;*/
}

.transactionsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.rightMargin20px {
  margin-right: 20px;
}

.leftMargin10px {
  margin-left: 10px;
}

.width100px {
  width: 100px;
}

.width160px {
  width: 160px;
}

.floatright {
  margin-left: auto;
}

.depositSubCont {
  margin: 100px auto 0 auto;
  width: 600px;
  height: 80px;
}

.transferSubCont {
  margin: 80px auto 0 auto;
  width: 600px;
  height: 240px;
}

.requestSubCont {
  margin: 40px auto 0 auto;
  width: 800px;
  height: 120px;
}

.depositSubSubCont, .requestSubSubCont {
  width: 600px;
  height: 40px;
  display: flex;
  align-items: center;
}

.pendingRequestsCont {
  width: 660px;
  height: 230px;
  display: flex;
  align-items: flex-start;
  margin-left:130px;
  margin-top:10px;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.requestDetailsCont {
  margin: 5px 0px;
  width: 640px;
  display: flex;
  align-items: center;
}

.requestSubSubCont {
  margin-left:130px;
}

.loremCont {
  width: 320px;
  height: 300px;
  /*background-color: #6fa8dc;*/
  background-image: linear-gradient(#ebf6f9, lightblue);
  border-radius: 40px;
  padding: 20px;
  color: #595959;
  box-sizing: border-box;
}

.authCont {
  width: 280px;
  height: 300px;
  /*background-color: #6fa8dc;*/
  background-image: linear-gradient(#ebf6f9, lightblue);
  border-radius: 40px;
}

.buttonsCont {
  width: 280px;
  height:80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button, .selectedButton {
  color: #4d4d4d;
  /*background-color: gray;*/
  /*background-image: linear-gradient(lightgray, gray, lightgray);*/
  background-image: linear-gradient(lightgray, white, lightgray);
  font-size: 24px;
  border: 2px solid white;
  height: 32px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.selectedButton {
  color: black;
  /*background-color: white;*/
  background-image: linear-gradient(white,lightgray,white);
  border: 3px solid gray;
  font-weight: bold;
  transform: scale(1.1);
}

.button:hover, .button:focus {
  cursor: pointer;
  color: black;
  background-image: none;
  background-color: white;
  transform: scale(1.05);
  border: 2px solid lightgray;
}

.authFormCont {
  width: 280px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer {
  width: 900px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 16px;
  font-style: italic;
  padding-bottom: 5px;
}

.heading {
  width: 900px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  box-sizing: border-box;
  font-weight: bold;
}

table#transactions {
  background-color: white;
  border-collapse: collapse;
}

th, td {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border: 1px solid black;
}

td {
  font-weight: normal;
}

div#tableControl {

  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

div#tableControlsContainer{

  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

div.arrowContainer:hover {
  cursor: pointer;
}

.arrow:hover path {
  fill: black;
}

div#count {
  padding: 5px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.0);
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #d8ecf3;
  padding: 30px;
  top:30%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 2px solid gray;
  white-space: pre-line;
  text-align: center;
}

.modal button {
  margin-top: 20px;
}
