body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

input {
  height: 30px;
}

.mainCont {
  width: 900px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_container {
  width: 280px;
  height: 300px;
  background-image: linear-gradient(#ebf6f9, lightblue);
  border-radius: 40px;
}


.login_form_container {
  width: 280px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.buttons_container {
  width: 280px;
  height:80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button, .selected_button {
  color: #4d4d4d;
  background-image: linear-gradient(lightgray, white, lightgray);
  font-size: 24px;
  border: 2px solid white;
  height: 32px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.selected_button {
  color: black;
  background-image: linear-gradient(white,lightgray,white);
  border: 3px solid gray;
  font-weight: bold;
  transform: scale(1.1);
}

button a, button a:visited {
  text-decoration: none;
  color: #4d4d4d;
}

.appCont {
  width: 900px;
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(lightblue, #ebf6f9);
}

.loremCont {
  width: 320px;
  height: 300px;
  background-image: linear-gradient(#ebf6f9, lightblue);
  border-radius: 40px;
  padding: 20px;
  color: #595959;
  box-sizing: border-box;
}

.menuCont {
  width: 900px;
  height: 70px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer {
  width: 900px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 16px;
  font-style: italic;
  padding-bottom: 5px;
}

.heading {
  width: 900px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  box-sizing: border-box;
  font-weight: bold;
}

.depositCont, .transactionsCont {
  width: 900px;
  height: 390px;
  /*background-color: lightblue;*/
}

.transactionsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.rightMargin20px {
  margin-right: 20px;
}

.leftMargin10px {
  margin-left: 10px;
}

.width100px {
  width: 100px;
}

.width160px {
  width: 160px;
}

.floatright {
  margin-left: auto;
}

.depositSubCont {
  margin: 100px auto 0 auto;
  width: 600px;
  height: 80px;
}

.transferSubCont {
  margin: 80px auto 0 auto;
  width: 600px;
  height: 240px;
}

.requestSubCont {
  margin: 40px auto 0 auto;
  width: 800px;
  height: 120px;
}

.depositSubSubCont, .requestSubSubCont {
  width: 600px;
  height: 40px;
  display: flex;
  align-items: center;
}
